.dashboardHeader {
  height: 4rem;
  border-bottom: solid 3px var(--primary-color-light);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  .dashboardHeaderText {
    width: 80%;
    display: flex;
    .pathTitle {
      font-size: 1.5rem;
      font-weight: 700;
      margin-right: 1rem;
      span {
        margin-left: 1rem;
      }
    }
    .pathContent {
      font-size: 1rem;
      font-weight: 700;
      margin-top: auto;
    }
  }
  .dashboardHeaderActions {
    display: flex;
    justify-content: space-between;
    .dashboardHeaderButton {
      margin-right: 3rem;
      cursor: pointer;
    }
  }
}
