@font-face {
  font-family: "circleL";
  src: url("../public/static/fonts/thecircleL.ttf");
}
@font-face {
  font-family: "circleM";
  src: url("../public/static/fonts/thecircleM.ttf");
}
@font-face {
  font-family: "michroma";
  src: url("../public/static/fonts/Michroma-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  --primary-color: #50f99c;
  --primary-color-light: #7ef0b1;
  --primary-color-dark: #42dd88;
  --dark-gray: #050505;
  --medium-gray: #454545;
  --bright-gray: #959595;
  --white: #f0f0f0;
  font-family: 'michroma';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.u-nondraggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
